
.check-box {
    margin-top: 32px;
}
.box-info-wrap {
    margin-top: 24px;
}
.btn-check {
    margin-top: 12px;
}
.chk-bank {
    margin-top: 12px;
}
.field-cont {
    .line {
        padding-right: 4px;
        font-size: 16px;
        color: #222;
        font-weight: 700;
        text-decoration: line-through;
    }
}