.agree-step-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 32px;
    .agree-count {
        color: #222;
        strong {
            font-weight: 700;
        }
    }
    .btn-all-box {
        margin-left: auto;
    }
}