
.prediction-price-box {
    margin-top: 48px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
    .title-box {
        color: #222;
        strong {
            font-weight: 700;
        }
        .date {
            padding-left: 8px;
            font-size: 12px;
        }
    }
    &::v-deep .box-info-wrap {
        margin-bottom: 20px;
        .box-info-list {
            border-top: 0;
        }
    }
    .price-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #222;
        strong {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.4;
        }
    }
}