.container {
    .select-buisnessman-box {
        padding: 10px 24px 0;
    }
    &::v-deep .tab {
        margin-top: 20px;
        .tab-item-list {
            padding: 0 24px;
        }
    }
    &::v-deep .box-acco-single {
        margin-top: 20px;
    }

    .sales-detail-wrap {
        padding: 25px 24px 0;
        .sales-history-list {
            margin: 32px -24px 0 -24px;
        }
    }

}
