.address-field {
    @include form-field();

    .flex {
        .input-area {
            display: inherit;
            width: 100%;
            flex-shrink: 1;
            margin-top: 0;
        }

        .input-area + .search-button {
            margin-left: 8px;
        }
    }

    .input-area {
        margin-top: 12px
    }

    button.search-button {
        @include button-style(56, $point-color-brown, #201c1b, #ebebeb,#bbb);
        min-width:72px;
        padding: 0 14px;
        text-align: center;
        color:#fff;        
    }
}