.calendar-field {
    @include form-field(true, false, false, false);

    .input-area {
        .icon-calendar {
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 20;
            background-image: url('/assets/icon/icon-calendar.svg');
            background-repeat: no-repeat;
            background-size: 24px 24px;

            & + button.clear {
                right: 56px;
            }
        }

        input.readonly {
            background-color: #f3f3f3;
            border: 0;
            color: #999;
            
            & + .icon-calendar {
                background-image: url('/assets/icon/icon-calendar-deactive.svg');
            }
        }
    }

    .datepicker-wrapper {
        position: absolute;
        left: 0;
        top: 106px;
        width: 100%;
        &::v-deep {
            .vc-container {
                // width: 100%;
                border-color: #ebebeb;
                font-family:'Spoqa Han Sans Neo', 'Malgun Gothic','맑은 고딕', '돋음','Dotum','Apple SD Gothic Neo', Arial, Helvetica, sans-serif;
            }
            .vc-pane,
            .vc-weeks {
                min-width: 232px;
            }
            .vc-weeks {
                padding: 5px 11px 5px;
            }
            .vc-header {
                padding: 23px 18px 15px 18px;
            }
            .vc-title {
                font-size: 20px;
                font-weight: 700;
                color: #222;
                line-height: 1.4;
            }
            .vc-weekday,
            .vc-day-content {
                color: #222;

            }
            .vc-day {
                min-height: 42px;
            }
            .vc-highlights {
                & + .vc-day-content {
                    color : #fff !important;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            .vc-highlight {
                background-color: $primary-color !important;
                border-color: $primary-color !important;
                &.vc-highlight-base-start, 
                &.vc-highlight-base-end {
                    background-color: #ffece8 !important;
                }
                &.vc-highlight-base-middle {
                    background-color: #ffece8 !important;
                    color: #222;
                    font-weight: 400;
                }
            }
            .vc-popover-content-wrapper {
                margin-top: 10px !important;
            }
            .vc-nav-popover-container {
                padding: 7px 13px;
                background-color: $point-color-brown;
                border: none;
            }
            .vc-nav-title {
                font-size: 16px;
                line-height: 1.5;
            }
            .vc-nav-item {
                padding: 4px 0 3px;
                &:hover,
                &.is-active {
                    background-color: #413a2f;
                    color: #fff;
                }
                &.is-current {
                    border: none;
                }
            }
            .vc-nav-arrow {
                &.is-left {
                    padding-left: 11px;
                }
                &.is-rigtht {
                    padding-right: 11px;
                }
                &:hover {
                    background-color: transparent;
                }
            }
            .vc-arrows-container {
                height: 66px;
                .vc-arrow {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}