.calendar-field {
    @include form-field(true, false, false, false);

    .input-area {
        .icon-calendar {
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 20;
            background-image: url('/assets/icon/icon-calendar.svg');
            background-repeat: no-repeat;
            background-size: 24px 24px;

            & + button.clear {
                right: 56px;
            }
        }

        input.readonly {
            background-color: #f3f3f3;
            border: 0;
            color: #999;
            
            & + .icon-calendar {
                background-image: url('/assets/icon/icon-calendar-deactive.svg');
            }
        }
    }

    .datepicker-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;

        .vc-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}