.check-box-group {
    .title {
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        color: #666;
        display: block;
        margin-bottom: 7px;
    }

    .check-box-area {
        display: flex;
        @include border-box;
        align-items: center;
        height: auto;
        min-height: 56px;
        
    }
    .btn-checkbox {
        display: block;
        position: relative;
        width:100%;
        height: 100%;
        padding: 12px 16px 14px 52px;
        font-size: 16px;
        color: #222;
        font-weight: 500;
        text-align: left;
        i {
            vertical-align: top;
        }
        &:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translate(0, -50%);
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            background-color: #fff;
        }
        &.checked {
            &:before {
                background-color: $point-color-blue;
                border-color:$point-color-blue;
                background-image: url("/assets/icon/icon-only-check.svg")
            }
        }
        &:disabled{
            &:before {
                background-color: #fafafa;
            }
            &.checked:before {
                border-color: #ebebeb;
                background-color: #ebebeb;
            }
        }
    }

    .open {
        display: block;
        position: relative;
        min-width: 56px;
        height: 56px;
        &:before {
            content: '';
            display: block;
            position: absolute;            
            width: 24px;
            height: 24px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: transform 250ms ease-in-out;
            background-image: url("/assets/icon/icon-arrow-bottom2.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 24px 24px;
        }
    }
    .check-list {
        max-height: 0;
        overflow: hidden;
        transition: max-height 250ms ease-in-out;
        .check-list-wrapper {
            padding: 20px;
            border: 1px solid #ebebeb;
            border-top: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .check-list-title {
            margin:20px 0 12px;
            &:first-of-type {
                margin-top: 0;
            }
            strong {
                display: block;
                font-weight: 500;
                color: #222;
            }
            p {
                margin-top: 4px;
            }
            & + .check-list-box {

                padding: 16px;
                background-color: #f8f8f8;
                border-radius: 5px;
            }
        }
        .check-list-box {
            &.col {
                display: flex;
                flex-wrap: wrap;
                .check-list-item {
                    width: 50%;
                    align-items: baseline;
                    &:nth-child(2) {
                        margin-top: 0;
                    }
                }
            }
        }

        .check-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & + .check-list-item {
                margin-top: 20px;
            }
            .btn {
                min-width: 25px;
                text-align: right;
            }

        }

    }
    &.opened {
        .check-box-area {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .open:before {
            transform: translate(-50%,-50%) rotate(180deg);
        }
        .check-list {
            max-height: 1000px;
        }
    }
}

.check-box {
    @include checkbox-style;
    text-align: left;
    i {
        word-break: keep-all;
    }
    &.checked {
        i:before {
            background-color: $primary-color;
            border-color:$primary-color;
            background-image: url("/assets/icon/icon-only-check.svg")
        }
    }
    &.disabled {
        & i:before {
            background-color: #fafafa;
        }
        &.checked i:before {
            border-color: #ebebeb;
            background-color: #ebebeb;
        }
    }
}