.check-box {
    @include checkbox-style;
    .sub-text {
        display: block;
        color: #666;
        word-break: keep-all;
    }
    &.style01 {
        i {
            color: #222;
        }
    }
}