$normal-icon-uncheck: '/assets/icon/icon-uncheck.svg';
$normal-icon-checked: '/assets/icon/icon-checked.svg';
$normal-icon-uncheck-disable: '/assets/icon/icon-uncheck-disable.svg';
$normal-icon-checked-disable: '/assets/icon/icon-checked-disable.svg';

$circle-icon-uncheck: '/assets/icon/icon-uncheck-circle-small.svg';
$circle-icon-checked: '/assets/icon/icon-checked-circle-small.svg';
$circle-icon-uncheck-disable: '/assets/icon/icon-uncheck-circle-small-disable.svg';
$circle-icon-checked-disable: '/assets/icon/icon-checked-circle-small-disable.svg';

@mixin input-style($type) {
    $icon-uncheck: if($type == sqaure, $circle-icon-uncheck, $normal-icon-uncheck);
    $icon-checked: if($type == sqaure, $circle-icon-checked, $normal-icon-checked);;
    $icon-uncheck-disable: if($type == sqaure, $circle-icon-uncheck-disable, $normal-icon-uncheck-disable);
    $icon-checked-disable: if($type == sqaure, $circle-icon-checked-disable, $circle-icon-checked-disable);

    label {
        padding-left: if($type == circle, 32px, 26px);
        font-size: if($type == circle, 14px, 12px);
        background-image: url($icon-uncheck);
        min-height: 24px;
        display: flex;
        align-items: center;
    }

    input[type="checkbox"] {
        &:checked {
            & + label {
                background-image: url($icon-checked);
            }
        }

        &:disabled {
            & + label {
                background-image: url($icon-uncheck-disable);
            }
            &:checked + label {
                background-image: url($icon-checked-disable);
            }
        }
    }
}

.check-box {
    position: relative;

    label {
        color: #222;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 24px 24px;
    }

    input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.normal {
        @include input-style(normal)
    }

    &.square {
        // @include input-style(square)

        // square 타입에 대한 변수
        $font-size: 14px;
        $size: 24px;
        $radius: 5px;
        $active-color: #3674bc;
        $check-icon: url("/assets/icon/icon-only-check.svg");
        $border-normal: #ebebeb;
        $border-active: $active-color;
        $disabled-uncheck-bg: #fafafa;
        $disabled-check-bg: #ebebeb;

        label {
            // padding-left: 32px;
            // background-image: url($icon-uncheck);
            font-size: $font-size;
            min-height: 22px;
            display: flex;
            align-items: center;

            &:before {
                content: '';
                display: inline-block;
                width: $size;
                height: $size;
                background-color: #fff;
                border: 1px solid #ebebeb;
                border-radius: $radius;
                box-sizing: border-box;
                margin-right: 8px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: $size $size;
            }
        }
    
        input[type="checkbox"] {
            &:checked {
                & + label {
                    &:before {
                        background-color: $active-color;
                        border: 1px solid $active-color;
                        background-image: $check-icon
                    }
                }
            }
    
            &:disabled {
                & + label {
                    color: #bbb;

                    &:before {
                        background-color: $disabled-uncheck-bg;
                        // border: 1px solid #ebebeb;
                    }
                }
                &:checked + label {
                    &:before {
                        background-color: $disabled-check-bg;
                        border: 1px solid $disabled-check-bg;
                    }
                }
            }
        }
    }

}