.check-box {
    display: block;
    position: relative;
    vertical-align: top;
    i {
        display: block;
        position: relative;
        min-height:24px;
        padding-left:32px;
        font-size:14px;
        line-height:1.57;
        color: #666;
        line-height: 24px;
        &:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
            top: -1px;
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            background-color: #fff;
        }
        
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        opacity: 0;
        &:checked + i{
            &:before {
                background-color: $point-color-blue;
                border-color:$point-color-blue;
                background-image: url("/assets/icon/icon-only-check.svg")
            }
        }
        &:disabled + i{
            &:before {
                background-color: #fafafa;
            }
            &:checked:before {
                border-color: #ebebeb;
                background-color: #ebebeb;
            }
        }
    }
}