.dropdown-box {
    @include form-field(false, true);
    & + .dropdown-box {
        margin-top:32px;
    }
    .input-area {
        height:100%;
        border:none;
        .btn-input-select {
            display: flex;
            align-items: center;
            position: relative;
            // width: 100%;
            width: calc(100vw - 48px);
            min-height:56px;
            padding:15px 58px 13px 20px;
            text-align: left;
            font-size:16px;
            color:#222;
            font-weight:500;
            border:1px solid #ebebeb;
            border-radius: 10px;
            background-color: #fff;
            .select-inner {
                width: 100%;
            }
            strong {
                display: block;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
            }
            span {
                font-size: 16px;
                font-weight: 400;
                color: #666;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                right:16px;
                top:50%;
                width:24px;
                height:24px;
                background:url('/assets/icon/icon-arrow-bottom2.svg') no-repeat;
                transform: translateY(-50%);
            }
            &:focus {
                border-color:#544944
            }
            &:disabled {
                border-color: #f3f3f3;
                background-color:#f3f3f3;
                color:#999;
                &:before{
                    display: none;
                }
            }
        }
    }
    &.large {
        .input-area .btn-input-select {
            min-height: 80px;
        }
    }
}