.dropdown-box {

    @include form-field(false, true);
    & + .dropdown-box {
        margin-top:32px;
    }
    .input-area {
        height:100%;
        border:none;
        .btn-input-select {
            display: block;
            position: relative;
            width: 100%;
            height:56px;
            padding:0 60px 0 20px;
            text-align: left;
            font-size:16px;
            color:#222;
            font-weight:500;
            border:1px solid #ebebeb;
            border-radius: 10px;
            span {
                display: block;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                right:16px;
                top:50%;
                width:24px;
                height:24px;
                background:url('/assets/icon/icon-arrow-bottom2.svg') no-repeat;
                transform: translateY(-50%);
            }
            &:focus {
                border-color:#544944
            }
            &:disabled {
                border-color: #f3f3f3;
                background-color:#f3f3f3;
                color:#999;
                &:before{
                    display: none;
                }
            }
        }
    }
}