.radio-group {
    .radio-area {
        &:after {
            content:'';
            display: block;
            clear: both;
        }
    }
    .radio-list-item {
        float: left;
        width: 50%;
        margin-top: 20px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
    }
}