.single-selection {
    ul.list {
        li.list-item {
            position: relative;
            display: inherit;
            width: 100%;

            input[type="radio"] {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &.button {

        ul.list {
            display: flex;
            justify-content: space-between;
    
            li.list-item {
                label {
                    display: inherit;
                    justify-content: center;
                    width: 100%;
                    border: solid 1px #bbb;
                    border-radius: 10px;
                    padding: 15px 0;
                    font-size: 14px;
                    line-height: 1.57;
                    color: #999999;
                    box-sizing: border-box;
                }
    
                input[type="radio"]:checked {
                    & + label {
                        font-weight: bold;
                        color: #3674bc;
                        border: solid 2px #3674bc;
                    }
                }
            }
    
            &.row {
                flex-direction: row;
                li.list-item {
                    & + li.list-item {
                        margin-left: 2%;
                    }
                }
            }
        
            &.col {
                flex-direction: column;
                li.list-item {
                    width: 100%;
                    & + li.list-item {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    $white: #fff;
    $active-color: #6890c0;
    $deactive-color: #bbb;
    $disabled-border-color: #ebebeb;
    $disabled-bg: #fafafa;
    $bullet-size: 22px;

    &.radio {
        ul.list {
            display: flex;

            li.list-item {
                label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-left: 32px;
                    font-size: 14px;
                    line-height: 1.6;
                    color: #222222;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        width: $bullet-size;
                        height: $bullet-size;
                        border-radius: $bullet-size / 2;
                        box-sizing: border-box;
                        background-color: $white;
                        box-shadow: 0px 0px 0 1px $deactive-color;
                    }
                }

                input:checked {
                    & + label {
                        &:before {
                            box-shadow: 0px 0px 0 1px $active-color;
                            background-color: $active-color;
                            border: 4px solid #fff;
                        }
                    }
                }

                input:disabled {
                    &:checked {
                        & + label {
                            &:before {
                                background-color: $disabled-bg;
                                border: 4px solid $disabled-bg;
                            }
                        }
                    }
                    & + label {
                        &:before {
                            box-shadow: 0px 0px 0 1px $disabled-border-color;
                            background-color: $disabled-bg;
                            border: 4px solid $disabled-bg;
                        }
                    }
                }
            }

            &.row {
                flex-direction: row;
                flex-wrap: wrap;
                li.list-item {
                    width: 48%;
                    &:nth-child(2n) {
                        margin-left: 4%;
                    }
                    &:nth-child(2n + 1) {
                        margin-top: 8px;
                    }
                }
            }
        
            &.col {
                flex-direction: column;
                li.list-item {
                    & + li.list-item {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}