$bg-on: $primary-color;
$bg-off: #e0dcda;
$bg-disabled: #ebebeb;
$toggle-button-color-disabled: #fafafa;
$toggle-button-color: #fff;
$toggle-button-size-large: 26px;
$toggle-button-size-small: 18px;
$transition-time: 250ms;
$transition: all $transition-time ease-in-out;

.switch {
    position: relative;

    label {
        display: block;
        width: 56px;
        height: 32px;
    }

    i {
        display: block;;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 3px;
        background-color: #e0dcda;
        border-radius: 16px;
        transition: $transition;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 3px;
            top: 50%;
            width: 26px;
            height: 26px;
            margin-top: -13px;
            border-radius: 50%;
            background-color: #fff;
            transition: $transition;
        }
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        opacity: 0;
        &:checked {
            & + i {
                background-color: $primary-color;
                &:before {
                    left: 27px;
                }
            }
        }
        &:disabled {
            & + i {
                background-color: #ebebeb;
            }
        }
    }
}