.content {
    .box-step + .box-title {
        margin: 0;
    }
}

.benefit-select-wrap {
    margin-bottom:12px;
    .box-title {
        margin-top: 24px;
    }
    .benefit-select-box {
        margin-top: 12px;
        &:first-of-type {
            margin-top: 0;
        }
    }
}
.benefit-select-box {
    padding: 16px 20px;
    border:1px solid #ebebeb;
    border-radius: 10px;
    .field-box ~ .field-box {
        margin-top: 32px;
        border-top: 1px solid #ebebeb;
    }
    .benefit-detail {
        display: none;
        margin-top: 32px;
    }
    &::v-deep .radio-area {
        display: flex;
        .radio-list-item {
            width: 33%;
            margin-top: 0
        }
    }
    &.active {
        .benefit-detail {
            display: block
        }
    }
}
.benefit-title {
    @include checkbox-style;
    i {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        strong { 
            color: #222;
        }
        em {
            color: $point-color-blue;
        }
    }
    .sub-text {
        display: block;
        margin-top: 6px;
        padding-left: 32px;
        color: #666;
        word-break: keep-all;
    }
}

.promotion-sys-wrap {
    .promotion-box {
        margin-top: 8px;
        &:first-of-type {
            margin-top: 0;
        }
    }    
}

.promotion-box {
    padding: 20px;
    border-radius: 10px;
    background: #f3f0ee;
    .promotion-title {
        font-weight: 500;
        color: #222;
    }
    p {
        margin-top: 8px;
    }
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        padding-left: 10px;
        &:first-of-type {
            padding-left: 0;
        }
        strong {
            font-weight: 500;
            color: #222;
        }
    }
    &.type01 {
        background-color: rgba(0, 100, 140, 0.06);
        .promotion-title {
            color: #00648c;
        }
    }
}    
.recommender-box {
    margin-top: 50px;
}