.select-store-wrap {
    .select-store {
        padding: 24px;
        background: #fafafa;
    }
    .store-user-info {
        strong {
            display: block;
            font-size: 20px;
            color: #222;
            line-height: 1.4;
            font-weight: 700;
        }
        p {
            margin-top: 8px;
            word-break: keep-all;
        }
    }
    .user-store-list {
        margin-top: 24px;
        .check-box-area {
            margin-top: 12px;
            &:first-of-type {
                margin-top:0
            }
        }
    }
    .recommender-box {
        margin-top: 21px;
        padding: 0 24px;
        .search-field{
            margin-top: 32px;
        }
    }
}