.page-header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 56px;
    padding: 0 12px;
    background-color: #fff;
    z-index: 1;
    h1 {
        display: block;
        overflow: hidden;
        width: 100%;
        font-size: 16px;
        color: #222;
        line-height: 1.5;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;    
    }
}

.select-store-wrap {
    .select-store {
        padding: 24px;
        background: #fafafa;
    }
    .store-user-info {
        strong {
            display: block;
            font-size: 20px;
            color: #222;
            line-height: 1.4;
            font-weight: 700;
        }
        p {
            margin-top: 8px;
        }
        .mark {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('/assets/auth/img-check-mark.svg') 0 2px no-repeat;
        }
    }
    .user-store-list {
        margin-top: 32px;
        .check-box-area {
            margin-top: 12px;
            &:first-of-type {
                margin-top:0
            }
        }
    }
    .recommender-box {
        padding: 0 24px;
        .search-field{
            margin-top: 8px;
        }
    }
}