@mixin form-field($clear: true, $is-dropdown: false, $validate: true, $use-readonly: true) {
    position: relative;

    .input-area {
        display: flex;
        align-items: center;
        position: relative;
        border: solid 1px #ebebeb;
        border-radius: 10px;
        height: 56px;
        background-color: #fff;
        @if $is-dropdown {
            height: 56px;
        }
        input {
            background-color: transparent;
            @if $is-dropdown {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            } @else {
                border-radius: 10px;
                border: 0;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.5px;
                color: #222;
                height: 100%;
                box-sizing: border-box;
                width: 100%;
                padding: 19px 16px 18px 20px;
            }

            &::-webkit-input-placeholder {
                color: #bbb;
            }
            
            @if $use-readonly {
                &:read-only {
                    background-color: #f3f3f3;
                    border: 0;
                    color: #999;
                }
            }

            @if $clear {
                // padding-right:50px;
            }

            &:focus {
                outline: none;
            }
        }

        @if $clear {
            button.clear {
                // position: absolute;
                // bottom: 16px;
                // right: 16px;
                position: relative;
                min-width: 24px;
                height: 24px;
                margin-right:16px;
                background: transparent;
    
                i {
                    width: 16px;
                    height: 16px;
                    background-color: #bbb;
                    display: block;
                    border-radius: 8px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
    
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        background-color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
    
                    &:before {
                        width: 11px;
                        height: 2px;
                    }
                    &:after {
                        width: 2px;
                        height: 11px;
                    }
                }
            }
        }
        &.focus {
            outline: none;
            border-color: #544944;
        }
        &.readonly,
        &.disabled {
            border-color: #f3f3f3;
            background-color: #f3f3f3;
            color: #999;
            & > input,
            & > button {
                color: #999;
            }
        }
    }

    @if $validate {
        &.error {
            .input-area {
                border: solid 1px #ee1100;
            }
        }
        &.success {
            .input-area {
                border: solid 1px #5089ca;
            }
        }
    }
}

@mixin button-style($height:60,  $bg:#fff, $active:#fafafa, $disabled:#fff, $disabledColor:#bbb) {
    height:$height + px;
    background:$bg;

    @if $height >= 56 {
        font-size:16px;
        font-weight:500;
        border-radius: 10px;
        line-height:$height + px;
        color:#fff;
    }
    @else if $height >= 48 {
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
        line-height:$height + px;
    }
    @else if $height <= 32 {
        width:auto;
        min-width: 64px;
        padding:0 16px;
        font-size: 12px;
        font-weight:700;
        line-height:$height + px;
        border-radius: 32px;
    }
    &:active,
    &:focus {
        background-color:$active
    }
    &:disabled {
        background-color:$disabled;
        color:$disabledColor
    }
}

@mixin checkbox-style {
    display: block;
    position: relative;
    vertical-align: top;
    i {
        display: block;
        position: relative;
        min-height:24px;
        padding-left:32px;
        font-size:14px;
        line-height:1.57;
        color: #666;
        line-height: 24px;
        &:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
            top: -1px;
            box-sizing: border-box;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            background-color: #fff;
        }
        
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        opacity: 0;
        &:checked + i{
            &:before {
                background-color: $primary-color;
                border-color:$primary-color;
                background-image: url("/assets/icon/icon-only-check.svg")
            }
        }
        &:disabled {
            & + i:before {
                background-color: #fafafa;
            }
            &:checked + i:before {
                border-color: #ebebeb;
                background-color: #ebebeb;
            }
        }
    }
}

@mixin border-box($height:56) {
    position: relative;
    height:$height + px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background-color: #fff;
}

@mixin number-contrast($margin:0,$fontSize: 14, $fontWeight:500, $icoSize:24, $top:-5) {
    display: inline-block;
    position: relative;
    margin:$margin;
    padding-right: 24px;
    font-size: $fontSize + px;
    font-weight: $fontWeight;
    line-height:$fontSize + px;

    .ico {
        display: block;
        position: absolute;
        right: 0;
        top: $top + px;
        width: $icoSize + px;
        height: $icoSize + px;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: center;
    }
    &.up {
        color: $primary-color;
        .ico {
            background-image: url('/assets/marketing/icon-arrow-up.png');
        }
    }
    &.down {
        color: $point-color-blue;
        .ico {
            background-image: url('/assets/marketing/icon-arrow-down.png');
        }
    }
}