$button-bg: #544944;
$button-bg-active: #302a28;
$button-bg-disabled: #ebebeb;
$button-bg-small: #5089ca;
$button-bg-small-active: #2d4f76;
$button-text-color: #fff;
$button-text-disabled-color: #bbb;

$primary-color : #FA4123;
$point-color-blue : #00648c;
$point-color-yellow : #ffd200;
$point-color-green : #00c8a5;
$point-color-brown : #6c625a;