@import "./font.scss";
@import "./reset.scss";

.ir {
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
    color: transparent;
}

.container {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    padding: 0 24px;
}

.flex {
    display: flex;
}