@import "./font.scss";
@import "./reset.scss";

// common
.ir { 
    overflow: hidden; 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0;
    clip: rect(0, 0, 0, 0); 
}


// layout
.layout, .layout-default {
    min-height: 100vh;
}

// page-body
.container {
    overflow-y: auto;
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    // padding: 10px 24px 60px;
    // 임시로 추가(삭제 예정) - 천명기
    min-height: calc(100vh - 216px);

    .content {
        padding: 10px 24px 60px;
        &.pd-btm {
            padding:0 0 60px;
        }
    }
    &.no-padding {
        .content {
            padding: 0;
        }
        & > .caution-box {
            padding-bottom: 200px;
        }
    }
    &.floating {
        padding-bottom: 108px;
        .content {
            padding-bottom: 36px
        }
        /*  [P]
            플로팅버튼 푸터 전에 멈추는 액션 적용 전 임시로 푸터 간격 적용.
            추후 플로팅버튼 스크롤액션 들어가면 삭제 필요.
        */
        & ~ .footer {
            padding-bottom: 132px;
        }
    }
    &.gray {
        background-color: #f3f0ee;
    }

    .field-box:first-of-type {
        .label-title-box,
        .form-text-area {
            margin-top: 0;
        }
    }
    .caution-box + .box-info-wrap {
        margin-top: 48px;
    }
    .box-form {
        margin-top: 24px;
    }
}

.page-header {
    & ~ .container {
        padding-top: 56px;
    }
}

.flex {
    display: flex;
}

// v-calendar
.vc-container {
    .vc-nav-container {
        .vc-nav-header {
            .vc-nav-title {
                // 년도 표시할 때 suffix나 format을 잡아줄 방법이 없음. 그래서 추가함
                &:after {
                    // content: '년';
                }
            }
        }
    }
}

//table
.table-box {
    overflow: hidden;
    width: calc(100vw - 48px);
    .t-center {
        text-align: center;
    }
    .t-right {
        text-align: right;
    }
    .table-scroll {
        overflow-x: auto;
    }
    table {
        min-width: 312px;
        margin-left: -1px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        thead {
            th {
                padding: 13px 20px 12px;
                background-color: #fafafa;
                color: #222;
                border-left: 1px solid #ebebeb;
            }
        }
        tbody {
            th,
            td {
                padding: 13px 20px 12px;
                color: #222;
                border-left: 1px solid #ebebeb;
            }
        }
    }
}

//text form
.form-col {
    display: flex;
    align-items: center;
    .field-box {
        width: 50%;
        .label-title-box {
            margin: 0;
            .label {

            font-size: 12px;
            }
        }
    }
    .field-cont {
        em {
            font-size: 20px;
            font-weight: 500;
            color: #222;
            line-height: 1.4;
            strong {
                font-size: 26px;
                font-weight: 700;
                line-height: 1.38;
                vertical-align: middle;
            }
        }
    }
}

// full-popup
.vue-portal-target:not(.fixed-btn-box) {
    position: relative;
    z-index: 3000;
}

// 비즈넵 아이프레임
#em_embed {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    display: none;
}