.container {
    .select-buisnessman-box {
        padding: 10px 24px 0;
    }
    &::v-deep .tab {
        margin-top: 20px;
        .tab-item-list {
            padding: 0 24px;
        }
    }
    &::v-deep .box-acco-single {
        margin-top: 20px;
    }

}
