.box-gnb-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #fff;;
    z-index: 2;
    .gnb-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        padding:0 12px;
        h2 {
            padding-left: 2px;
            .logo {
                display: block;
                width: 100px;
                height: 48px;
                // background: url('/assets/common/logo-selly.svg') no-repeat;
                background: url('/assets/common/logo-selly-beta.png') no-repeat;
                background-size: 100%;
            }
        }
        .btn-gnb-close {
            display: block;
            width: 48px;
            height: 48px;
            background: url('/assets/common/btn-close.svg') no-repeat;
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 77px;
        padding:24px 24px 25px;
        border-bottom: 1px solid #ddd;;
        .user-name {
            font-size: 20px;
            line-height: 1.4;
            color: #222;
            font-weight: bold;
        }
    }
    .box-gnb-list {
        overflow: hidden;
        overflow-y: auto;
        height: calc(100% - 136px);
        .gnb-1dep-box {
            float: left;
            width: 130px;
            height: 100%;
            background: #f3f0ee;
            ul {
                padding-top: 6px;
            }
            li {
                &.active {
                    button {
                        color: $primary-color;
                        background-color:#fff;
                        font-weight: 700;
                        &:before {
                            display: block;
                        }
                    }
                }
            }
            button {
                display: block;
                position: relative;
                width: 100%;
                height: 60px;
                padding: 0 24px;
                font-size: 16px;
                color: #666;
                line-height: 62px;
                font-weight: 500;
                text-align: left;
                &:before {
                    content: '';
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 60px;
                    background-color: $primary-color;
                }
            }

        }
        .gnb-2dep-box {
            float: left;
            width: calc(100% - 130px);
            padding: 25px 36px;
            .gnb-2dep {
                display: none;
                li {
                    margin-top: 20px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
                &.active {
                    display: block;
                }
            }
            a {
                display: block;
                font-size: 16px;
                color: #222;
                font-weight: 500;
            }
        }
    }
}