.board-item {
    display: block;
    padding: 0 24px ;
    .board-inner {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        &:after {
            content:'';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 24px;
            height: 24px;
            transform: translateY(-50%);
            background: url('/assets/icon/icon-arrow-right.svg') no-repeat;
        }
    }
    .board-tit {
        display: -webkit-box;
        overflow: hidden;
        width: 62%;
        color: #222;
        font-weight: 500;
        word-break: keep-all;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .board-btm {
        // display: flex;
        // align-items: center;
        margin-top: 6px;
    }
    .date {
        display: block;

    }
    &.pick {
        background-color: #f8f8f8;
    }
}