.board-detail-wrap {
    padding-bottom: 60px;
    .title-area {
        padding:10px 0 0 0;
        .board-tit {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            line-height: 1.5;
        }
        .board-info {
            margin-top: 4px;
        }
    }
    .board-text-area {
        margin-top: 32px;
    }
}