$transition: all 0.3s ease-in-out;

.bottom-sheet {
    .inner {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2000;
        background-color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 24px;

        .heading {
            .title {
                font-size: 20px;
                font-weight: bold;
                line-height: 1.4;
                letter-spacing: -0.5px;
                color: #222222;
            }

            .sub-text {
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.57;
                letter-spacing: -0.5px;
                color: #666;
            }

            .description {
                margin-top: 24px;
            }
        }

        .btn {
            margin-top: 24px;
        }

        .select-options {
            margin: 16px -24px 0;
            li {
                button {
                    width: 100%;
                    padding: 17px 24px;
                    font-size: 14px;
                    line-height: 1.57;
                    color: #222;
                    text-align: left;
                }

                &.selected {
                    background-image: url('/assets/icon/icon-check-active.svg');
                    background-repeat: no-repeat;
                    background-position: right 8px center;
                    background-size: 48px 48px;
                    button {
                        color: #5089ca;
                    }
                }
            }
        }

        button.close {
            width: 48px;
            height: 48px;
            position: absolute;
            top: 14px;
            right: 12px;
            z-index: 10;
            background: url('/assets/icon/icon-cross.svg') no-repeat;
            background-size: 48px 48px;
        }
    }
}