.bullet-list {
    .bullet-title {
        display: block;
        margin-bottom: 16px;
        font-weight: 700;
        color: #222;
    }
    li {
        position: relative;
        padding-left: 8px;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.5px;
        word-break: keep-all;
        & + li {
            margin-top: 8px;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 8px;
            width: 2px;
            height: 2px;
            background-color: #666;
        }
    }
}
.field-box + .bullet-list {
    margin-top: 12px;
}