.caution-box {
    padding-top: 120px;
    &.caution,
    &.complete {
        &:before {
            content:'';
            display: block;
            width: 48px;
            height: 48px;
            margin: 0 auto 24px;
            background-repeat: no-repeat;
        }
    }
    &.caution:before {
        background-image: url('/assets/icon/icon-caution-empty.svg');
     
    }
    &.complete:before {
        background-image: url('/assets/icon/icon-caution-complete.svg');
    }
    &.result {
        padding-bottom: 204px;
    }
    .caution-title {
        display: block;
        font-size: 20px;
        color: #222;
        line-height: 1.4;
        font-weight: 700;
        word-break: keep-all;
        & + .caution-sub-txt {
            margin-top: 8px;
            font-weight: 400;
            color: #666;
        }
    }
    .caution-sub-txt {
        font-weight: 500;
        color: #222;        
    }
    .caution-text-box {
        max-width: 312px;
        margin: 0 auto;
        text-align: center;
    }
    .tel-box {
        margin-top: 48px;
        .link-tel {
            display: inline-block;
            width: auto;
            height:22px;
            font-size:14px;
            line-height:1.57;
            font-weight:400;
            text-decoration: underline;
            color:$point-color-blue
        }
    }
}
.content {
    .caution-box {
        padding-top: 110px;
    }
}