.dropdown-box {

    @include form-field(false, true);

    .input-area {
        &.select-type {
            display: flex;
            & > .selected-display-name, & > input {
                display: inherit;
            }
            & > .selected-display-name {
                width: 100%;
                align-items: center;
                white-space: nowrap;
                padding-right: 24px;
                padding-left: 20px;
                background-image: url('/assets/icon/icon-arrow-bottom2.svg');
                background-repeat: no-repeat;
                background-position: right 10px center;
                background-size: 24px 24px;
            }
        }
    }
}