.form-text-box {
    .form-text-area {
        font-size:16px;
        color: #222;
        font-weight:500
    }
    &.row {
        display: flex;
        justify-content: space-between;
        .form-text-area {
            margin-top: 27px;
            font-weight: 700;
        }
    }
}