.form-text-box {
    .form-text-area {
        font-size:16px;
        color: #222;
        font-weight:500
    }
    &.row {
        display: flex;
        justify-content: space-between;
        .label-title-box {
            margin-bottom: 0;
        }
        .form-text-area {
            height: 22px;
            margin-top: 32px;
        }
    }
}