.page-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;;
    z-index: 1;
    .header-inner {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 0 12px;

    }
    .header-logo {
        padding-left: 2px;
        .logo {
            display: block;
            width: 72px;
            height: 48px;
            background: url('/assets/common/logo-selly.svg') no-repeat;
        }
    }
    .global-navigation {
        display: block;
        min-width: 48px;
        height: 48px;
        margin-left: auto;
        background: url('/assets/common/btn-menu.svg') no-repeat;
    }
    .page-title {
        width: calc(100% - 116px);
        margin-left: 58px;
        text-align: center;
        strong {
            display: block;
            overflow: hidden;
            width: 100%;
            font-size: 16px;
            color: #222;
            line-height: 1.5;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .btn-prev-page {
        display: block;
        min-width: 48px;
        height: 48px;
        background: url('/assets/common/btn-prev-arrow.svg') no-repeat;
        & + .page-title {
            margin-left: 10px;
        }
    }

    .btn-proccess-cancel{
        display: block;
        min-width: 48px;
        height: 48px;
        font-size: 14px;
        color: #222;
        text-align: center;
        line-height: 48px;
    }
}