.box-info-wrap {
    .info-title {
        margin-bottom: 16px;
        .title {
            font-size: 16px;;
            font-weight: bold;
            line-height: 1.5;
            color: #222;
        }
    }
    &.style01 {
        .info-desc {
            & > span {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}
.box-info-list {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .info-item {
        overflow: hidden;
        margin-top: 12px;
        word-break: keep-all;
        &:first-of-type {
            margin-top: 0;
        }
    }
    .info-label {
        float: left;
        width: 35%;
    }
    .info-desc {
        float: right;
        width: 65%;
        font-weight: 500;
        color: #222;
        text-align: right;
        line-height: 1.43;
        & > span {
            display: block;
            .btn.small{
                margin-left: auto;
            }
        }
    }
}