.tab-item-list ul {
    display: flex;
    width: 100%;
    li.tab-item {
        display: block;
        width: 100%;

        button {
            display: block;
            position: relative;
            width: 100%;
            height: 57px;
            padding: 19px 10px;
            font-size: 16px;
            color: #999;
            &:before {
                content: '';
                display: none;
                position: absolute;
                left: 0;
                bottom: 1px;
                width: 100%;
                height: 2px;
                background-color: #222;
            }
        }

        &.active {
            button {
                color: #222;
                font-weight: 700;;
                &:before{
                    display: block;
                }
            }
        }
    }
}

.tab {
    // 3개 이상의 탭에서는 flicking!!!
    .tab-item-list {
        height: 56px;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        box-sizing: border-box;
    }
    
    &.flicking {
        .tab-item-list {
            ul {
                flex-wrap: nowrap;
                overflow-x: auto;
                padding:0 0 0 16px;
            }
        }
        li.tab-item {
            position: relative;
            // flex: 1 1 auto;
            flex:none;
            width: auto;
            margin-left: 4px;
            white-space: nowrap;
            text-align: center;

            button {
                width: 100%;
                border-bottom: none;
                white-space: nowrap;
            }
            &:first-of-type{
                margin-left: 0;
            }
            &:last-of-type{
                padding-right: 16px;
            }
        }
    }

    &.solid {
        .tab-item-list {
            height: 48px;
            border-bottom: 0;
        }
        ul {
            overflow: hidden;
        }
        li.tab-item {
            position: relative;
            border-bottom: none;
            &:before,
            &:after {
                content: '';
                display: none;
                position: absolute;
                top:0;
                bottom: 0;
                width: 10px;
                height: 100%;
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
                background-color: #f8f8f8;
            }
            &:before{
                left: 0;
            }
            &:after {
                right: 0;
            }
            button {
                position: relative;
                height: 48px;
                padding: 13px 10px;
                background-color: #f8f8f8;
                border: 1px solid #ebebeb;
                font-size: 14px;
                z-index: 1;
                &:before {
                    content:'';
                    display: block;
                    position: absolute;
                    left: 0;
                    top:50%;
                    width: 1px;
                    height: 16px;
                    transform: translateY(-50%);
                    background: #ebebeb;
                }
            }

            &.active {
                &:before,
                &:after {display: block;}
                button {
                    background-color: $primary-color;
                    border-color: $primary-color;
                    color: #fff;
                    border-radius: 10px;
                    &:before {
                        display: none;
                    }
                }
                & + .tab-item {
                    button:before {
                        display: none;
                    }
                }

            }
            &:first-of-type {
                &:before {
                    display: none;
                }
                button {
                    border-right: none;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    &:before {
                        display: none;
                    }
                }
            }
            &:nth-child(2){
                button {
                    border-left: none;
                    border-right: none;
                }
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
                button {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-left: none;
                }
            }
        }
    }
}