.franchisee-info-wrap {
    .franchisee-info{
        strong {
            display: block;
            font-size: 20px;
            color: #222;
            line-height: 1.4;
            font-weight: 700;
        }
    }
    .franchisee-modify-box {
        margin-top: 32px;
    }
    .bullet-list{
        margin-top: 32px;
    }
}