
.sales-main-box {
    padding-top: 22px;
    .sale-main-title {
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #222;
            line-height: 1.4;
        }
        p {
            margin-top: 14px;
        }
    }
}