.price-list {
    padding: 0 20px 20px;
    .sales-week-avg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap:wrap;
        padding: 20px 0 16px;;
        border-bottom: 1px solid #ddd;
        .price {
            font-size: 16px;
            font-weight: 500;
            color: #222;
            span {
                padding-right: 4px;
                color:#666;
                font-weight:400

            }
            strong {
                font-weight: 700;
            }
        }
        &.select-type {
            .avg-tit-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 0 4px 10px;
                color: #222;
            }

            .dropdown-box {
                width: 100%;
            }
        }
    }
    ul {
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        li {
            overflow: hidden;
            margin-top: 13px;
            &:first-of-type {
                margin-top: 0;
            }
        }
        span {
            float: left;
        }
        .price {
            float: right;;
            color: #222;
            strong {
                font-weight: 500;
            }
        }
    }
}